.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: gray;
  text-align: center;
  padding: 20px;
}
.navigation a {
  color: white;
}

.navigation a:hover,
a.active {
  color: lightgrey;
}
