* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.persons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
